body, button {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

input {
  font-family: "Be Vietnam", sans-serif;
}

#nav {
  height: 100px;
  width: 100%;
  -webkit-box-shadow: 0 1px 10px 0px rgba(224, 224, 224, 0.5);
          box-shadow: 0 1px 10px 0px rgba(224, 224, 224, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-logo {
  width: 100px;
}

#nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-options > div {
  cursor: pointer;
  width: 160px;
  height: 100%;
  color: black;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#nav-options > div:hover {
  background-color: rgba(224, 224, 224, 0.5);
}

#buyer-screen {
  width: 100%;
  height: 100vh;
}

#buyer-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 84px;
  border-bottom: 0.5px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buyer-nav #nav-leading {
  height: 100%;
  width: 175px;
  border-right: 0.5px solid #e0e0e0;
}

#buyer-nav-box {
  margin-right: 30px;
}

.buyer-nav-box {
  cursor: pointer;
  height: 70%;
  padding: 0 15px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
  font-size: 15px;
  font-weight: 300;
}

.buyer-nav-box:hover {
  background-color: rgba(224, 224, 224, 0.4);
}

.buyer-nav-box #user-avatar {
  height: 40px;
  width: 40px;
  border: 0.5px solid #e0e0e0;
  border-radius: 50%;
  margin-right: 15px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#buyer-screen {
  width: 100%;
}

#my-insurance-title {
  margin-top: 150px;
  margin-left: 90px;
  margin-bottom: 50px;
}

#my-insurance-title #my-insurance-title-big {
  color: #363636;
  font-size: 40px;
  font-weight: 700;
}

#my-insurance-title #my-insurance-title-small {
  color: #363636;
  font-size: 14px;
  font-weight: 300;
}

#list-insurance {
  position: relative;
  padding-left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#list-insurance .insurance-container {
  cursor: pointer;
  width: 20%;
  height: 22vw;
  border-radius: 10px;
  border: 0.5px solid #e0e0e0;
  margin-right: 4%;
  margin-bottom: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#list-insurance .insurance-container:hover {
  opacity: 0.9;
  background-color: rgba(224, 224, 224, 0.2);
}

#list-insurance .insurance-container .insurance-image {
  background-image: url("https://cdn.dribbble.com/users/472667/screenshots/4851114/family-insurane-illustration.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

#list-insurance .insurance-container .insurance-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#list-insurance .insurance-container .insurance-info .insurance-info-name {
  color: #363636;
  font-size: 15px;
  font-weight: 500;
}

#list-insurance .insurance-container .insurance-info .insurance-info-provider {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
}

.close-button {
  cursor: pointer;
  font-size: 30px;
  text-align: right;
  padding-top: 12px;
  margin-right: 10px;
}

.close-button:hover {
  opacity: 0.8;
}

.close-button:active {
  opacity: 0.5;
}

#detail-order {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#detail-order #detail-order-modal {
  cursor: pointer;
  margin: 10% auto;
  position: relative;
  z-index: 12;
  width: 600px;
  height: 55%;
  background-color: white;
  border-radius: 10px;
}

#detail-order #detail-order-modal #detail-modal-info {
  margin-top: 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-left #detail-name {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-left #detail-name-provider {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-left #detail-price {
  color: black;
  font-size: 14px;
  font-weight: 300;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #status-table {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 55% 35%;
      grid-template-columns: 10% 55% 35%;
  margin-bottom: 20px;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #status-table #status-table-title {
  color: black;
  font-size: 12px;
  font-weight: 500;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #status-table .status-table-content {
  color: black;
  font-size: 12px;
  font-weight: 300;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #detail-start-date > span, #detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #detail-end-date > span, #detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #detail-id > span {
  font-weight: 700;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #detail-status-title {
  margin-bottom: 10px;
}

#detail-order #detail-order-modal #detail-modal-info #detail-modal-info-right #detail-status-title span {
  font-weight: 700;
}

#my-insurance-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#add-insurance-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  margin-right: 7vw;
}

#add-insurance-button:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#add-insurance-button:active {
  background-color: rgba(224, 224, 224, 0.4);
}

#add-insurance-modal-container {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#add-insurance-modal-container #add-insurance-modal {
  height: 55%;
  width: 650px;
  margin: 10% auto;
  background-color: white;
  border-radius: 10px;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info {
  margin: 5px 10px;
  text-align: center;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-title {
  color: #363636;
  font-size: 30px;
  font-weight: 700;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-intro {
  color: #363636;
  font-size: 14px;
  font-weight: 500;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-notice {
  color: #4d529e;
  font-size: 14px;
  font-weight: 300;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-notice span {
  font-weight: 700;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form button {
  background-color: #4d529e;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form button:hover, #add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form button:active {
  opacity: 0.7;
  background-color: #4d529e;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form #contract-id-input, #add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form #insu-code-input {
  height: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: text;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 300;
  border-bottom: 0.5px solid #e0e0e0;
}

#add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form #contract-id-input:focus, #add-insurance-modal-container #add-insurance-modal #add-insurance-info #add-insu-form #insu-code-input:focus {
  border-color: #4d529e;
}

.error-message {
  color: #b44a4a;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

#add-insu-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  background-color: #4d529e;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-color: transparent;
}

#add-insu-button:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#add-insu-button:active {
  background-color: rgba(224, 224, 224, 0.4);
}

#add-insu-button:hover, #add-insu-button:active {
  opacity: 0.8;
  background-color: #4d529e;
}

#add-insu-button:active {
  opacity: 0.6;
}

#add-insurance-provider {
  font-family: "Be Vietnam", sans-serif;
  font-weight: 300;
}

#consulting-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#select-provider-title {
  color: #363636;
  font-size: 20px;
  font-weight: 700;
}

#consulting-provider {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 300;
  font-family: "Be Vietnam", sans-serif;
}

#consulting-provider:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#consulting-provider:active {
  background-color: rgba(224, 224, 224, 0.4);
}

#contacts-list-button, #contact-zalo-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  background-color: #4d529e;
  color: white;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

#contacts-list-button:hover, #contact-zalo-button:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#contacts-list-button:active, #contact-zalo-button:active {
  background-color: rgba(224, 224, 224, 0.4);
}

#contacts-list-button:hover, #contact-zalo-button:hover {
  opacity: 0.7;
  background-color: #4d529e;
}

#contacts-list-button:active, #contact-zalo-button:active {
  opacity: 0.5;
  background-color: #4d529e;
}

#consult-screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  height: 100%;
}

#consult-screen #consult-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

#orders-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 25% 20% 20% 25%;
      grid-template-columns: 10% 25% 20% 20% 25%;
}

#orders-list .orders-list-title {
  color: #363636;
  font-size: 13px;
  font-weight: 700;
}

#orders-list .orders-list-content {
  color: #363636;
  font-size: 16px;
  font-weight: 300;
}

.new-order-row-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
}

#add-order-modal-container, #add-claim-modal-container {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 11;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

#add-order-modal, #add-claim-modal {
  background-color: white;
  width: 500px;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10% auto;
}

#add-order-modal input, #add-claim-modal input {
  font-size: 16px;
}

#add-order-title {
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}

#add-new-order-button, #add-new-claim-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
}

#add-new-order-button:hover, #add-new-claim-button:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

#add-new-order-button:active, #add-new-claim-button:active {
  background-color: rgba(224, 224, 224, 0.4);
}

#footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 40px;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.login-container form {
  margin-top: 100px;
  margin-left: 100px;
}

.login-container #auth-bg {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.register-title {
  color: black;
  font-size: 35px;
  font-weight: 700;
}

.input-wrapper {
  margin-bottom: 10px;
}

.input-wrapper input {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  cursor: text;
}

.input-wrapper input:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

.input-wrapper input:active {
  background-color: rgba(224, 224, 224, 0.4);
}

.buttonSubmit {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  border-radius: 5px;
  border-color: #4d529e;
}

.buttonSubmit:hover {
  background-color: rgba(224, 224, 224, 0.1);
}

.buttonSubmit:active {
  background-color: rgba(224, 224, 224, 0.4);
}

.form-footer {
  margin-top: 30px;
}

.already-have-an-acount {
  color: #4d529e;
  font-size: 12px;
  font-weight: 500;
}

.accept-button {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 500;
}

.accept-button:hover {
  opacity: 0.8;
}

.accept-button:active {
  opacity: 0.6;
}
/*# sourceMappingURL=main.css.map */